body {
	height: 100%;
	background: #fff;
	background: url(images/white.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, a:active {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #999;
}

#account #main a, #addresses #main a, .page #main p a, #shipping-info a
	{
	border-bottom: dotted #999 1px;
}

footer a, nav a {
	border-bottom: none;
}

p {
	margin: 0 0 1.2em 0;
	line-height: 1.5;
}

li {
	margin: 0 0 .75em 0;
}

.font-up {
	text-transform: uppercase;
}

/**
 * Structure
 */
#main, footer, header {
	width: 1150px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	clear: both;
}

/* grid */
.column, .columns {
	float: left;
	display: inline;
	margin-right: 25px;
}

.column.last, .columns.last {
	margin-right: 0;
}

/**
* static pages
**/
.page h1 {
	margin-bottom: 10px;
}

.page ul {
	margin: 15px;
}

/**
* Collection
*/
a.title {
	color: #000;
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-size: 17px;
}

.product-img, a.title {
	width: 200px;
}

.collection-products {
	float: right;
	width: 875px;
}

.thumb {
	margin-bottom: 25px;
	height: 350px;
}

/*modal mode*/
#product-window {
	position: absolute;
	width: 1150px;
	height: auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 30px 30px rgba(243, 138, 178, .5);
	box-shadow: 0px 0px 30px 30px rgba(243, 138, 178, .5);
	display: none;
}



/* music pages*/
.musics {
	width: 98%;
	margin-top: 75px;
}

.musics .thumb {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.musics .thumb:hover {
	margin-top: -5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

body.musics-page {
	background: none;
}

.musics-page #top a {
	color: #000;
}

.musics-page #cart a {
	color: #000;
}

.musics-page #top a.home {
	color: #000;
}

.musics-page #top a.active {
	color: #000;
}
/*.musics-page #category-nav { visibility:hidden; }*/

.product-musics #product-variants, .product-musics-no-video #product-variants
	{
	visibility: hidden;
}

.videoid {
	display: none;
}

.product-musics-download .description a {
	background: none repeat scroll 0 0 #00ABB9;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px #666666;
	clear: both;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	margin: 5px;
	padding: 6px 13px;
	text-transform: uppercase;
	font-family: cooper_std_blackregular, Arial;
	margin: -10px 20px 0;
	float: right;
}

#img_iphone {
	margin-top: 35px;
	cursor: hand;
	cursor: pointer;
}

#img_iphone1 {
	margin-top: 35px;
	cursor: hand;
	cursor: pointer;
}

#img_iphone2 {
	margin-top: 35px;
	cursor: hand;
	cursor: pointer;
}

#img_iphone3 {
	margin-top: 35px;
	cursor: hand;
	cursor: pointer;
}


